* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, #cde7ff, #598be9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skeleton-card {
    position: relative;
    width: 300px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Now Loading Effect */
.skeleton-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* animation: loadingEffect 1.4s linear infinite; */
}

@keyframes loadingEffect {
    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(255, 255, 255, 0.35);
    }
}


.card-header {
    width: 100%;
    height: 70px;
    background-color: rgba(98, 98, 98, 0.32);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.badge, .title {
    background-color: rgba(98, 98, 98, 0.32);
    border-radius: 4px;
}

.badge {
    width: 60px;
    height: 8px;
}

.title {
    width: 50%;
    height: 20px;
}

.card-body {
    width: 100%;
    padding: 20px;
}

ul {
    list-style: none;
}

.card-item {
    width: 100%;
    padding: 8px;
    box-shadow: 0 5px 15px rgba(98, 98, 98, 0.3);
    margin-bottom: 16px;
}

figure {
    background-color: rgba(98, 98, 98, 0.25);
    width: 100%;
    height: 60px;
}

.main-card-item figure {
    margin-bottom: 12px;
}

section {
    width: 80px;
    height: 6px;
    background-color: rgba(98, 98, 98, 0.5);
    margin: 4px 0;
}

section.main-info {
    width: 100px;
}

li.card-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}